In [1]:
import pandas as pd

Load the DataSet

In [2]:
data = pd.read_csv("data1.csv")
data

    Duration          Date  Pulse  Maxpulse  Calories
0          2   2020/12/01'    110       130     409.1
1          3  '2020/12/02'    117       145     479.0
2          4   2020/11/02'    103       135     340.0
3          5    2020/2/02'    109       175     282.4
4          6    2020/3/02'    117       148     406.0
5          7    2020/4/02'    102       127     300.0
6          8    2020/5/02'    110       136     374.0
7        450    2020/6/02'    104       134     253.3
8          9    2020/7/02'    109       133     195.1
9         10    2020/8/02'     98       124     269.0
10        11    2020/9/02'    103       147     329.3
11        12   2020/11/04'    106       111     247.0
12        12   2020/11/04'    106       111     247.0
13        13    2020/9/01'    104       132     379.3
14        14    2020/9/03'     98       123     275.0
15        15    2020/9/04'     98       120     215.2
16        16    2020/9/05'    100       120     300.0
17        17    2021/9/06'     90       112     287.0
18        18    2022/9/06'    103       123       NaN
19        19    2018/9/06'     97       125     243.0
20        20    2017/9/06'    108       131     364.2
21        21    2016/9/06'    100       119     282.0
22        22           NaN    130       101     300.0
23        23    2020/1/02'    105       132     246.0
24        24    2020/5/22'    102       126     334.5
25        25    2020/5/26'    100       120     250.0
26        26    26-12-2020     92       118     241.0
27        27    2023/5/26'    103       132     240.0
28        28    2023/5/16'    100       132       NaN
29        29    2023/5/17'    102       129     380.3
30        30    2023/5/18'     92       115     243.0
31        31    2023/5/19'     90       112     180.1

Describe the Dataset

In [3]:
data.describe()

         Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   30.000000
mean    29.906250  103.375000  127.437500  296.393333
std     77.133884    8.162661   13.844616   70.104906
min      2.000000   90.000000  101.000000  180.100000
25%      9.750000   99.500000  119.750000  246.250000
50%     16.500000  103.000000  126.500000  282.200000
75%     24.250000  106.500000  132.250000  338.625000
max    450.000000  130.000000  175.000000  479.000000

Find Maximum Rows

In [4]:
pd.options.display.max_rows

60

Analyse the dataset using
    1. by using head method
    2. by using tail method
    3. Information about dataset

In [5]:
data.head()

   Duration          Date  Pulse  Maxpulse  Calories
0         2   2020/12/01'    110       130     409.1
1         3  '2020/12/02'    117       145     479.0
2         4   2020/11/02'    103       135     340.0
3         5    2020/2/02'    109       175     282.4
4         6    2020/3/02'    117       148     406.0

In [6]:
data.tail()

    Duration        Date  Pulse  Maxpulse  Calories
27        27  2023/5/26'    103       132     240.0
28        28  2023/5/16'    100       132       NaN
29        29  2023/5/17'    102       129     380.3
30        30  2023/5/18'     92       115     243.0
31        31  2023/5/19'     90       112     180.1

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

Cleaning the Dataset 
    1. using dropNA
    2. using dropNA (inplace = true)
    3. using fillNA
    4. using replace only specific column
    5. replace using mean , median , mode

In [8]:
data.dropna()

    Duration          Date  Pulse  Maxpulse  Calories
0          2   2020/12/01'    110       130     409.1
1          3  '2020/12/02'    117       145     479.0
2          4   2020/11/02'    103       135     340.0
3          5    2020/2/02'    109       175     282.4
4          6    2020/3/02'    117       148     406.0
5          7    2020/4/02'    102       127     300.0
6          8    2020/5/02'    110       136     374.0
7        450    2020/6/02'    104       134     253.3
8          9    2020/7/02'    109       133     195.1
9         10    2020/8/02'     98       124     269.0
10        11    2020/9/02'    103       147     329.3
11        12   2020/11/04'    106       111     247.0
12        12   2020/11/04'    106       111     247.0
13        13    2020/9/01'    104       132     379.3
14        14    2020/9/03'     98       123     275.0
15        15    2020/9/04'     98       120     215.2
16        16    2020/9/05'    100       120     300.0
17        17    2021/9/06'     90       112     287.0
19        19    2018/9/06'     97       125     243.0
20        20    2017/9/06'    108       131     364.2
21        21    2016/9/06'    100       119     282.0
23        23    2020/1/02'    105       132     246.0
24        24    2020/5/22'    102       126     334.5
25        25    2020/5/26'    100       120     250.0
26        26    26-12-2020     92       118     241.0
27        27    2023/5/26'    103       132     240.0
29        29    2023/5/17'    102       129     380.3
30        30    2023/5/18'     92       115     243.0
31        31    2023/5/19'     90       112     180.1

In [9]:
df = data.copy()
df.dropna(inplace = True)
df

    Duration          Date  Pulse  Maxpulse  Calories
0          2   2020/12/01'    110       130     409.1
1          3  '2020/12/02'    117       145     479.0
2          4   2020/11/02'    103       135     340.0
3          5    2020/2/02'    109       175     282.4
4          6    2020/3/02'    117       148     406.0
5          7    2020/4/02'    102       127     300.0
6          8    2020/5/02'    110       136     374.0
7        450    2020/6/02'    104       134     253.3
8          9    2020/7/02'    109       133     195.1
9         10    2020/8/02'     98       124     269.0
10        11    2020/9/02'    103       147     329.3
11        12   2020/11/04'    106       111     247.0
12        12   2020/11/04'    106       111     247.0
13        13    2020/9/01'    104       132     379.3
14        14    2020/9/03'     98       123     275.0
15        15    2020/9/04'     98       120     215.2
16        16    2020/9/05'    100       120     300.0
17        17    2021/9/06'     90       112     287.0
19        19    2018/9/06'     97       125     243.0
20        20    2017/9/06'    108       131     364.2
21        21    2016/9/06'    100       119     282.0
23        23    2020/1/02'    105       132     246.0
24        24    2020/5/22'    102       126     334.5
25        25    2020/5/26'    100       120     250.0
26        26    26-12-2020     92       118     241.0
27        27    2023/5/26'    103       132     240.0
29        29    2023/5/17'    102       129     380.3
30        30    2023/5/18'     92       115     243.0
31        31    2023/5/19'     90       112     180.1

In [10]:
data.fillna(100000)

    Duration          Date  Pulse  Maxpulse  Calories
0          2   2020/12/01'    110       130     409.1
1          3  '2020/12/02'    117       145     479.0
2          4   2020/11/02'    103       135     340.0
3          5    2020/2/02'    109       175     282.4
4          6    2020/3/02'    117       148     406.0
5          7    2020/4/02'    102       127     300.0
6          8    2020/5/02'    110       136     374.0
7        450    2020/6/02'    104       134     253.3
8          9    2020/7/02'    109       133     195.1
9         10    2020/8/02'     98       124     269.0
10        11    2020/9/02'    103       147     329.3
11        12   2020/11/04'    106       111     247.0
12        12   2020/11/04'    106       111     247.0
13        13    2020/9/01'    104       132     379.3
14        14    2020/9/03'     98       123     275.0
15        15    2020/9/04'     98       120     215.2
16        16    2020/9/05'    100       120     300.0
17        17    2021/9/06'     90       112     287.0
18        18    2022/9/06'    103       123  100000.0
19        19    2018/9/06'     97       125     243.0
20        20    2017/9/06'    108       131     364.2
21        21    2016/9/06'    100       119     282.0
22        22        100000    130       101     300.0
23        23    2020/1/02'    105       132     246.0
24        24    2020/5/22'    102       126     334.5
25        25    2020/5/26'    100       120     250.0
26        26    26-12-2020     92       118     241.0
27        27    2023/5/26'    103       132     240.0
28        28    2023/5/16'    100       132  100000.0
29        29    2023/5/17'    102       129     380.3
30        30    2023/5/18'     92       115     243.0
31        31    2023/5/19'     90       112     180.1

In [11]:
data["Calories"].fillna(10000)

0       409.1
1       479.0
2       340.0
3       282.4
4       406.0
5       300.0
6       374.0
7       253.3
8       195.1
9       269.0
10      329.3
11      247.0
12      247.0
13      379.3
14      275.0
15      215.2
16      300.0
17      287.0
18    10000.0
19      243.0
20      364.2
21      282.0
22      300.0
23      246.0
24      334.5
25      250.0
26      241.0
27      240.0
28    10000.0
29      380.3
30      243.0
31      180.1
Name: Calories, dtype: float64

In [12]:
mean = data["Calories"].mean()
median = data["Calories"].median()
mode = data["Calories"].mode()[0]
print(mean,"\t",median,"\t",mode)

296.3933333333333 	 282.2 	 300.0

In [13]:
data['Calories'].fillna(mode)

0     409.1
1     479.0
2     340.0
3     282.4
4     406.0
5     300.0
6     374.0
7     253.3
8     195.1
9     269.0
10    329.3
11    247.0
12    247.0
13    379.3
14    275.0
15    215.2
16    300.0
17    287.0
18    300.0
19    243.0
20    364.2
21    282.0
22    300.0
23    246.0
24    334.5
25    250.0
26    241.0
27    240.0
28    300.0
29    380.3
30    243.0
31    180.1
Name: Calories, dtype: float64

In [14]:
data['Calories'].fillna(mean)

0     409.100000
1     479.000000
2     340.000000
3     282.400000
4     406.000000
5     300.000000
6     374.000000
7     253.300000
8     195.100000
9     269.000000
10    329.300000
11    247.000000
12    247.000000
13    379.300000
14    275.000000
15    215.200000
16    300.000000
17    287.000000
18    296.393333
19    243.000000
20    364.200000
21    282.000000
22    300.000000
23    246.000000
24    334.500000
25    250.000000
26    241.000000
27    240.000000
28    296.393333
29    380.300000
30    243.000000
31    180.100000
Name: Calories, dtype: float64

In [15]:
data['Calories'].fillna(median)

0     409.1
1     479.0
2     340.0
3     282.4
4     406.0
5     300.0
6     374.0
7     253.3
8     195.1
9     269.0
10    329.3
11    247.0
12    247.0
13    379.3
14    275.0
15    215.2
16    300.0
17    287.0
18    282.2
19    243.0
20    364.2
21    282.0
22    300.0
23    246.0
24    334.5
25    250.0
26    241.0
27    240.0
28    282.2
29    380.3
30    243.0
31    180.1
Name: Calories, dtype: float64

Cleaning Dataset of wrong format 
    1. Date wrong format
    2. replacing value of outliers
    3. Discovering duplicates and removing duplicates

In [16]:
data.loc[7 , 'Duration'] = 1
data

    Duration          Date  Pulse  Maxpulse  Calories
0          2   2020/12/01'    110       130     409.1
1          3  '2020/12/02'    117       145     479.0
2          4   2020/11/02'    103       135     340.0
3          5    2020/2/02'    109       175     282.4
4          6    2020/3/02'    117       148     406.0
5          7    2020/4/02'    102       127     300.0
6          8    2020/5/02'    110       136     374.0
7          1    2020/6/02'    104       134     253.3
8          9    2020/7/02'    109       133     195.1
9         10    2020/8/02'     98       124     269.0
10        11    2020/9/02'    103       147     329.3
11        12   2020/11/04'    106       111     247.0
12        12   2020/11/04'    106       111     247.0
13        13    2020/9/01'    104       132     379.3
14        14    2020/9/03'     98       123     275.0
15        15    2020/9/04'     98       120     215.2
16        16    2020/9/05'    100       120     300.0
17        17    2021/9/06'     90       112     287.0
18        18    2022/9/06'    103       123       NaN
19        19    2018/9/06'     97       125     243.0
20        20    2017/9/06'    108       131     364.2
21        21    2016/9/06'    100       119     282.0
22        22           NaN    130       101     300.0
23        23    2020/1/02'    105       132     246.0
24        24    2020/5/22'    102       126     334.5
25        25    2020/5/26'    100       120     250.0
26        26    26-12-2020     92       118     241.0
27        27    2023/5/26'    103       132     240.0
28        28    2023/5/16'    100       132       NaN
29        29    2023/5/17'    102       129     380.3
30        30    2023/5/18'     92       115     243.0
31        31    2023/5/19'     90       112     180.1

In [17]:
data.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [18]:
data.drop_duplicates()

    Duration          Date  Pulse  Maxpulse  Calories
0          2   2020/12/01'    110       130     409.1
1          3  '2020/12/02'    117       145     479.0
2          4   2020/11/02'    103       135     340.0
3          5    2020/2/02'    109       175     282.4
4          6    2020/3/02'    117       148     406.0
5          7    2020/4/02'    102       127     300.0
6          8    2020/5/02'    110       136     374.0
7          1    2020/6/02'    104       134     253.3
8          9    2020/7/02'    109       133     195.1
9         10    2020/8/02'     98       124     269.0
10        11    2020/9/02'    103       147     329.3
11        12   2020/11/04'    106       111     247.0
13        13    2020/9/01'    104       132     379.3
14        14    2020/9/03'     98       123     275.0
15        15    2020/9/04'     98       120     215.2
16        16    2020/9/05'    100       120     300.0
17        17    2021/9/06'     90       112     287.0
18        18    2022/9/06'    103       123       NaN
19        19    2018/9/06'     97       125     243.0
20        20    2017/9/06'    108       131     364.2
21        21    2016/9/06'    100       119     282.0
22        22           NaN    130       101     300.0
23        23    2020/1/02'    105       132     246.0
24        24    2020/5/22'    102       126     334.5
25        25    2020/5/26'    100       120     250.0
26        26    26-12-2020     92       118     241.0
27        27    2023/5/26'    103       132     240.0
28        28    2023/5/16'    100       132       NaN
29        29    2023/5/17'    102       129     380.3
30        30    2023/5/18'     92       115     243.0
31        31    2023/5/19'     90       112     180.1